body {
            margin: 0;
            box-sizing: border-box;
            background-color: #21C08B;
            font-family: "Muli", sans-serif;
        }
        .globalwith {
            width: 100%;
        }

/* -------------- HEADER ------------- */

        .header {
            height: 80px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;   
            align-items: center;
        }
        .header__img {
            width: 220px;
            margin-left: 10px;
        }
        .header__menu{
            margin-right: 10px;
        }
        .header__menu ul{
            display: none;
            list-style: none;
            padding: 0px;
            position: absolute;
            text-align: right;
            margin: 0px 0px 0px -14px;
        }
        
        .header__menu:hover ul, ul:hover{
            display: block;
        }

        .header__menu li {
            margin: 10px 0px;
        }

        .header__menu li a {
            color: white;
            text-decoration: none;
        }

        .header__menu li a:hover {
            text-decoration: underline;
        }

        .header__menu--profile{
            margin-right: 10px;
            display: flex;
            align-items: center;
        }

        .header__menu--profile img{
            margin-right: 8px;
            width: 40px;
        }
        
        .header__menu--profile p {
            margin: 0px;
            color: white;
        }


/* ---------------------------------- */

    .main {
        margin-top: 50px;
        height: 400px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .main__title {
        color: white;
        font-size: 35px;
    }

    .main__subtitle {
        color: white;
        font-size: 20px;
    }


/* Footer */

.footer{
    margin-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}